<!DOCTYPE html>
<html>
<head>
  <title>Movie Inventory Application</title>
</head>
<body>
  <h1>Movie Inventory Application</h1>
  <ul>
    <% if (locals.movies) { %>
      <% movies.forEach(function(movie) { %>
        <li>Movie: <%= movie.title %>, 
            Director: <%= movie.director %>,
            Genre: <%= movie.genre %>,
            Main Actor: <%= movie.actor %>,
            Year: <%= movie.year %>
            <a href="/edit/<%= movie.id %>">Update</a>
            <a href="/delete/<%= movie.id %>">Delete</a>
        </li>
      <% }); %>
    <% } %>
  </ul>  
  <a href="/new">Add a movie</a>
  <a href="/delete">Delete all movies</a>
</body>
</html>
