<!DOCTYPE html>
<html>
  <head>
    <title>Movie Inventory Application</title>
  </head>
<body>
  <h1>Movie Inventory Application</h1>
  <%- include("partials/errors.ejs") %>

  <form action="/deleteShown" method="POST">
    <% if (searchResults.length > 0) { %>
      <ul>
        <% searchResults.forEach(movie => { %>
          <li>
            Title: <%= movie.title %>, 
            Director: <%= movie.director %>,
            Genre: <%= movie.genre %>,
            Actor: <%= movie.actor %>,
            Year: <%= movie.year %>
            <a href="/edit/<%= movie.id %>">Update</a>
            <a href="/delete/<%= movie.id %>">Delete</a>
            <input type="hidden" name="movieIds[]" value="<%= movie.id %>">
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No movie found</p>
    <% } %>
    <button type="submit">Delete all movies shown</button>
  </form>  

  <a href="/">Back to home</a>
</body>
</html>